body{
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    opacity: 0.5;
    cursor: pointer;
}

.logo:hover{
    opacity: 1 !important;
}

.logo img{
    width:500px;
}

.slider-container{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width:500px;
    margin: 0 auto;
}

.slide img{
    margin:0 auto;
}

iframe{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: block;
}
.hide {display: none !important }
@media screen and (max-width:625px) {
    .logo {
        width: 60px;border: 10px solid transparent;outline: 10px solid #fff 
    }
}
